# Historial de la terminal
.bash_history

# Archivos y directorios de compilación
*.o
*.out
*.a
*.so
*.exe

# Archivos de respaldo y temporales
*~
*.swp
*.tmp
.DS_Store

# Archivos de log
*.log

# Archivos y carpetas de configuración de editores
.vscode/
.idea/

# Archivos binarios generados
player
view
master

# Archivos generados por PVS-Studio
PVS-Studio.log
report.html
report.tasks
strace_out

# Ignorar el propio gitignore
!.gitignore
q
ChompChamps
